
h1{
    margin-top: 100px;
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 3px black;
    font-size: 40px;
    font-family: "myFont";
}
.center{
    text-align:center;
}
p{
    background-color: rgb(253, 143, 143);
    width: 500px;
    height: 60px;
    line-height: 60px;
    margin:20px  auto;
    border-radius: 30px;
    font-size: 40px;
    font-weight:600;

}
.button{
    background-color: rgb(253, 143, 143);
    border-radius: 15px;
    border: 0px;
    font-size:40px;
    font-weight:600;
}
.button:active{
    background-color: red;
}
input{
    border-radius: 20px; 
    padding:10px 15px;
    font-size: 30px;
    font-weight: 600;
    height: 46px;
}
#in-button{
    width: 140px;
    height: 70px;
    margin-left: 20px;
}
#ok-button,#start-button{
    width: 180px;
    height: 80px;
    margin: 30px;
}